    <%= form_for([@recipe, @recipe.instructions.build], :html => {:class => 'form-inline'}) do |f| %>
        <div class="input-group">
            <%= f.text_area :description, :class => 'form-control input-sm' %>
            <span class="input-group-btn">
                <%= f.submit 'Add Instruction', :class => 'btn btn-sm btn-default' %>
            </span>
        </div>
    <% end %>