<div class="container">
    
    <div class="page-header">
        <h1>
            <%= link_to '<i class="fa fa-arrow-circle-left"></i>'.html_safe, 
                recipes_path, :title => "go back" %> 
            <%= @recipe.title %>
        </h1>
    </div>
    
    <div class="col-sm-8">
        <% # Render the edit_form which DOES include associated models delete links. %>
        <%= render 'edit_form' %>
    </div>
    
    <div class="col-sm-4 text-center" style="margin-top:20px;">
        <img src="http://lorempixel.com/300/600/food/advertising" width="300" height="600" />
    </div>
    
</div>

<%= render "footer" %>