    <%= form_for([@recipe, @recipe.ingredients.build], :html => {:class => 'form-inline'}) do |f| %>
        <div class="input-group">
            <%= f.text_field :name, :class => 'form-control input-sm' %>
            <span class="input-group-btn">
                <%= f.submit 'Add Ingredent', :class => 'btn btn-sm btn-default' %>
            </span>
        </div>
    <% end %>