<li class="list-group-item">
    <%= link_to '<i class="fa fa-minus-circle"></i>'.html_safe,
        [ingredient.recipe, ingredient], method: :delete, 
        data: { confirm: 'Are you sure you want to dellete this ingredient?' }, 
        :title => "delete ingredient" %> 
    <%= ingredient.name %> 
</li>